.card {
    display: flex;
}

.question {
    width: 80%;
    align-self: center;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.question-results {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.question-result {
    width: 49%;
    text-align: center;
}

.btn-result {
    width: 100%;
}

.answers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.answer {
    width: 49%;
}

.answer-label {
    width: 100%;
}