.card {
    display: flex;
}

.config {
    display: flex;
}

.config-inputs {
    flex-grow: 2;
    /* width: 60%; */
    margin-right: 2vw;
    
}

.config-setting {
    width: 100%;
}

.config-confirm {
    /* width: 30%; */
    flex-basis: 33%

}

.little-button-text {
    display: none;
}

.question {
    width: 80%;
    align-self: center;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.question-results {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2vh;
}

.question-result {
    width: 49%;
    text-align: center;

}

.btn-result {
    width: 100%;
    margin-top: 1vh;
}

.answers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.answer {
    width: 49%;
    margin-top: 1vh;
}

.answer-label {
    width: 100%;
}

.results-list {
    width: 66%;
}