.card {
    display: flex;
}

.config {
    display: flex;
}

.config-inputs {
    flex-grow: 2;
    /* width: 60%; */
    margin-right: 2vw;
    
}

.config-setting {
    width: 100%;
}

.config-confirm {
    /* width: 30%; */
    flex-basis: 33%

}

.little-button-text {
    display: none;
}

.question {
    width: 80%;
    align-self: center;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.question-attributes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
}

.display-attribute {
    width: 50%;
    text-transform: capitalize;
    text-align: center;
}

.question-results {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2vh;
}

.question-result {
    width: 49%;
    text-align: center;

}

.btn-result {
    width: 100%;
    margin-top: 1vh;
}

.answers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.answer {
    width: 49%;
    margin-top: 1vh;
}

.answer-label {
    width: 100%;
}

.summary {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* .summary-spacer {
    width: 15%;
    height: 1px;
} */

.results-list {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 66%;
}

.result {
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}

.summary-buttons {
    width: 66%;
    margin-top: 2vh;
}

.summary-btn {
    width: 50%;
}